@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

/* font-family: 'Inter', sans-serif;
 weights: 100 - 800
*/

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--myfont);
}

/*variables*/
:root {
  --myfont: "Inter", sans-serif;
  --lightF: 300;
  --smallHeader: 1em;
  --myGrey: rgb(184, 180, 180);
}

/* Genaral styling */
button {
  border-style: none;
  border-radius: 1.5rem;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
}

/*HEADER*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: var(--myfont);
  margin-top: 0.5rem;
  border-bottom: solid var(--myGrey) 0.7px;
}
h1 {
  font-weight: 800;
  grid-column: 2;
  text-align: center;
}
.logoSpan {
  font-weight: 300;
}

.headerButtons {
  grid-column: 3;
  justify-self: end;
  padding-right: 1rem;
}

.headerButtons button {
  margin-right: 0.5rem;
}

.redButton {
  background-color: rgb(185, 43, 43);
  color: white;
}

/*MAIN*/
img {
  max-width: 100%;
}
#mainBigGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
  gap: 1rem;
}

.topPart {
  grid-column: 2;
}

h2 {
  grid-row: 2;
  grid-column: 1 / span 3;
  text-align: center;
  font-size: var(--smallHeader);
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main h3 {
  grid-column: 1 / span 3;
  text-align: center;
  font-size: var(--smallHeader);
  font-weight: 500;
}
/*TOP PART of main*/

.topPart {
  border-bottom: solid var(--myGrey) 0.9px;
}
.topPart figcaption {
  text-align: center;
  font-size: 1.4rem;
}

.topPart span {
  font-weight: var(--lightF);
  font-size: 0.7rem;
  color: grey;
}
h2 span {
  font-weight: 400;
  color: grey;
  font-size: 0.7rem;
  padding-left: 0.5rem;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  gap: 1rem;
}

.infoBox p {
  font-size: 1.3rem;
  border-left: solid rgb(184, 180, 180) 0.9px;
  padding-left: 1rem;
}
.infoBox p:nth-child(1) {
  border-left: none;
  padding: 0;
}

.list {
  border-top: solid var(--myGrey) 0.9px;
}
.list h3 {
  font-size: var(--smallHeader);
  font-weight: 500;
  text-align: start;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.3rem;
  font-size: 0.7rem;
  font-weight: 500;
}
.myButtons {
  padding-top: 1rem;
  padding-bottom: 1.3rem;
}
.myButtons button:nth-child(2) {
  margin-left: 0.7rem;
}

.myButtons svg {
  padding-top: 0.3rem;
}

.myBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.myBox p:nth-child(2) {
  border-style: solid;
  border-radius: 5px;
  border-color: var(--myGrey);
  padding: 2px;
  border-width: 0.8px;
}
.myBox p:nth-child(3) {
  color: grey;
  font-size: 0.9rem;
}
.myBox p:nth-child(4) {
  color: grey;
  font-size: 0.8rem;
  font-weight: var(--lightF);
}
.colorSVG {
  color: rgb(108, 0, 151);
}

/*.light {
  font-weight: var(--lightF);
  color: grey;
  font-size: 0.9rem;
}*/

/*BOTTOM PART of main (the main grid)*/

.mainGrid {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  gap: 1.5rem;
  justify-content: center;
}
.imgContainer {
  position: relative;
}
.imgText {
  background-color: rgba(75, 75, 75, 0.473);
  padding: 0.5rem 0rem 0.5rem 0.7rem;
  z-index: 10;
  position: absolute;
  top: 71%;
  color: white;
}

/*MEDIA QERY*/

@media screen and (min-width: 1105px) {
  .infoBox p {
    padding-left: 3rem;
  }
  .infoBox p:nth-child(1) {
    padding-left: 1rem;
  }
}
